@import "../../theme.scss";

.SingleCourse {
    @media screen and ($tablet) {
        display:flex;
    }
    &-Figure {
        width: 100%;
        height: 220px;
        border-radius: 6px;
        overflow: hidden;
        margin-bottom: 32px;

        @media screen and ($tabletSmall) {
            height: 300px;
        }

        @media screen and ($tablet) {
            height: 350px;
            width:350px;
            flex-shrink: 0;
            margin-right: 48px;
        }

        @media screen and ($desktopLarge) {
            height: 450px;
            width: 500px;
            margin-right:90px;
        }
    }
    
    &-Image {
        width: 100%; /*image preuzima maksimalnu sirinu i visinu od parenta (figure)*/
        height: 100%;
        object-fit: cover;
    }
    
    &-Content {
        font-size: 16px;
        line-height: 150%;
    }
}